.body
{
  background-color: #f1f7ff;
}

.bg-dark-blue{
  background-color: #0a3d78 !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

}
.dashboard-container {
  min-height: 100vh;
  background-color: #f1f7ff;
}

.nav-item{
  padding-right: 30px;
}
.navbar-brand{
  padding-left: 40px;
}
.navbar {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.profile-circle {
  width: 35px;
  height: 35px;
  background: white;
  color: blue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin-right: 10px;
}

.heading{
  color: #0a3d78;
}

.glassmorphic-card {
  background: rgba(69, 97, 180, 0.31);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 1.5rem;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
}

.transparent-header{
  background: none;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.btn-modern {
  background-color: #0a3d78; 
  border: none;
  width: auto;
  padding: 8px 20px;
  border-radius: 30px;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #dfe8f1;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 8px rgba(10, 61, 120, 0.4); 
}

.btn-modern:hover {
  background-color: #08346d;
  transform: translateY(-2px);
  box-shadow: 0px 6px 12px rgba(10, 61, 120, 0.5);
}


.btn-modern:disabled {
  background-color: #5a7dbf; 
  cursor: not-allowed;
  box-shadow: none;
}

.form-group{
  margin-bottom: 10px;
}

.table {
  background: transparent !important;
  color: #0a3d78 !important; 
}

.table th {
  background: none !important;
  color: white !important; 
  font-weight: bold;
  border-bottom: 2px solid rgba(10, 61, 120, 0.3); 
}

.table tbody tr {
  background: transparent !important; 
  color: #0a3d78 !important; 
}

.table th, .table td {
  border-bottom: 1px solid rgba(10, 61, 120, 0.2); 
}


.table-hover tbody tr:hover {
  background: rgba(10, 61, 120, 0.1) !important; 
}
.table-striped tbody tr:nth-of-type(odd),
.table-hover tbody tr:hover {
  background: rgba(10, 61, 120, 0.1) !important; 
}
