<div class="bg-container" style="background-image: url(proxy/3000/../../assets/bg.png);">
<div class="container-fluid">
  <div class="row vh-100 align-items-center justify-content-center">

    <div class="col-lg-6 d-none d-lg-block">
      <h2 class="text-center">OUR TESTIMONIALS</h2>

      <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#testimonialCarousel" data-bs-slide-to="0" class="active"></button>
          <button type="button" data-bs-target="#testimonialCarousel" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#testimonialCarousel" data-bs-slide-to="2"></button>
        </div>
      
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="testimonial-card">
              <img src="proxy/3000/../../assets/testimonial1.png" alt="User 1" class="testimonial-img">
              <p class="testimonial-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nisi eveniet voluptate veritatis. Voluptate necessitatibus adipisci veniam inventore hic suscipit est ratione deleniti, quis culpa ex ipsa? Odio, aliquam officia.</p>
              <h5>- John Doe</h5>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonial-card">
              <img src="proxy/3000/../../assets/testimonial2.png" alt="User 2" class="testimonial-img">
              <p class="testimonial-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis tenetur, pariatur, quis reprehenderit aut, similique veritatis !</p>
              <h5>- Sarah Smith</h5>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonial-card">
              <img src="proxy/3000/../../assets/testimonial3.png" alt="User 3" class="testimonial-img">
              <p class="testimonial-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste facilis repellat mollitiaunde a similique tenetur amet tempora asperiores at! Quo.</p>
              <h5>- Emma Brown</h5>
            </div>
          </div>
        </div>
      
        <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
    </div>

    <div class="col-lg-5 col-md-8 col-sm-10">
      <div class="register-container">
        <h3 class="text-center">CREATE NEW ACCOUNT</h3>
        <form #registerForm="ngForm" (ngSubmit)="register()">
          
          <div class="form-group">
            <label for="username">USERNAME</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input [(ngModel)]="user.username" name="username" id="username" class="form-control" required pattern="^[a-zA-Z]{3,15}$" appUniqueUsername #username="ngModel">
              <div *ngIf="registerForm.submitted || username.touched">
                              <small *ngIf="username.errors?.['required']" class="text-danger d-block">Username is required.</small>
                              <small *ngIf="username.errors?.['pattern']" class="text-danger d-block">Minimum 3, Maximum 15 characters required.</small>
               </div>
              
            </div>
          </div>

          <div class="form-group">
            <label for="email">EMAIL</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
              </div>
              <input [(ngModel)]="user.email" name="email" id="email" type="email" class="form-control" required email #email="ngModel">
              <div *ngIf="registerForm.submitted || email.touched">
                              <small *ngIf="email.errors?.['required']" class="text-danger d-block">Email is required.</small>
                              <small *ngIf="email.errors?.['email']" class="text-danger d-block">Email address is invalid.</small>
                            </div>
            </div>
          </div>

          <div class="form-group">
            <label for="password">PASSWORD</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-lock"></i></span>
              </div>
              <input [(ngModel)]="user.password" name="password" id="password" type="password" class="form-control" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$" #password="ngModel">
              <div *ngIf="registerForm.submitted || password.touched">
                              <small *ngIf="password.errors?.['required']" class="text-danger d-block">Password is required.</small>
                              <small *ngIf="password.errors?.['pattern']" class="text-danger d-block">
                                <ul>
                                  <li>At least 8 characters long</li>
                                  <li>Contains at least one lowercase letter</li>
                                  <li>Contains at least one uppercase letter</li>
                                  <li>Contains at least one digit</li>
                                  <li>Contains at least one special character from the set !&#64;#$%^&*</li>
                                </ul>
                              </small>
                            </div>
            </div>
          </div>

          <div class="form-group">
            <label for="role">ROLE</label>
            <select [(ngModel)]="user.role" name="role" id="role" class="form-control" required #role="ngModel">
              <option class="option-text" disabled selected>Select Role</option>
              <option class="option-text" value="PLANNER">Planner</option>
              <option class="option-text" value="CLIENT">Client</option>
              <option class="option-text" value="STAFF">Staff</option>
            </select>
            <div *ngIf="registerForm.submitted || role.touched">
                            <small *ngIf="role.errors?.['required']" class="text-danger d-block">Role is required.</small>
                          </div>
                        
          </div>

          <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="registerForm.invalid">REGISTER</button>
          </div>
          
          <div *ngIf="msg" style="color: red;">
            <p>User already exists!!</p>
          </div>
          <p class="login-text">ALREADY HAVE AN ACCOUNT? <a class="login-link" (click)="onClick()">LOGIN HERE</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
</div>